*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
}
header{
    background-color: #221F18;
    color:#FFFFFF;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #logo span{
    color:#D6742F;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color:#FFFFFF;
}
